{% extends 'student/student_base.html' %}

{% block content %}

              <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Create</a></li>
<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Abstract</a></li>


                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->

                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                {% for message in messages %}
							{% if message.tags == "success" %}
						 		<center>
								<div class="alert alert-success" style="color:green;">
  									<strong>{{message}}</strong>
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "warning" %}
						     <center>
								<div class="alert alert-warning" style="color:red;">
  									<strong>Warning!</strong> {{message}}
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "error" %}
								<div class="alert alert-error">
  									<strong>Error!</strong>{{message}}
								</div>
							{% endif %}
						{% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-xl-1 col-xl-16 col-lg-14 col-md-16 col-sm-12 col-10">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="card">
                                        <div class="card-header">
                                           <center> <h4 class="mb-0" style="color:white;">Create Abstract</h4></center>
                                        </div>
                                        <div class="card-body">
                                            <form class="needs-validation"  method="post" action="{% url 'download_abstract' %}">{% csrf_token %}

                                                <div class="mb-3" >
                                                        <label for="topic">Topic</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            <input type="text" class="form-control" id="topic" name="topic"   placeholder="" required="" >
                                                            <div class="invalid-feedback" style="width: 100%;">
                                                                Please enter project topic.
                                                            </div>
                                                        </div>
                                                </div>
                                                <div class="mb-3" >
                                                    <label for="introduction">Introduction <span class="text-muted"></span></label>
                                                    <textarea class="form-control" id="introduction" name="introduction" rows="6" cols="50" placeholder=""  required=""></textarea>
                                                    <div class="invalid-feedback">
                                                        Please enter the introduction.
                                                    </div>
                                                </div>

                                                <div class="mb-3" >
                                                    <label for="objectives">Objectives <span class="text-muted"></span></label>
                                                    <textarea class="form-control" id="objectives" name="objectives" rows="6" cols="50" placeholder=""  required=""></textarea>
                                                    <div class="invalid-feedback">
                                                        Please enter the objects.
                                                    </div>
                                                </div>

                                                <div class="mb-3" >
                                                    <label for="motivation">Motivation or Relevance<span class="text-muted"></span></label>
                                                    <textarea class="form-control" id="motivation" name="motivation" rows="6" cols="50" placeholder=""  required=""></textarea>
                                                    <div class="invalid-feedback">
                                                        Please enter the motivation.
                                                    </div>
                                                </div>

                                                <div class="mb-3" >
                                                    <label for="problem">Problem Definition<span class="text-muted"></span></label>
                                                    <textarea class="form-control" id="problem" name="problem" rows="10" cols="50" placeholder=""  required=""></textarea>
                                                    <div class="invalid-feedback">
                                                        Please enter the problem definition.
                                                    </div>
                                                </div>

                                                <div class="row" >
                                                    <div class="col-md-6 mb-3">
                                                        <label for="frontend">Front End</label>
                                                        <input type="text" class="form-control" id="frontend" name='frontend' placeholder=""  required="" >
                                                        <div class="invalid-feedback">
                                                            Enter front end.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-3" >
                                                        <label for="backend">Back End</label>
                                                        <input type="text" class="form-control" id="backend" name="backend" placeholder=""  required="" >
                                                        <div class="invalid-feedback">
                                                            Enter back end.
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row" >
                                                    <div class="col-md-6 mb-3">
                                                        <label for="ide">Framework & IDE</label>
                                                        <input type="text" class="form-control" id="ide" name='ide' placeholder=""  required="" >
                                                        <div class="invalid-feedback">
                                                            Enter framework details.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-3" >
                                                        <label for="database">Database</label>
                                                        <input type="text" class="form-control" id="database" name="database" placeholder=""  required="" >
                                                        <div class="invalid-feedback">
                                                            Enter database details.
                                                        </div>
                                                    </div>
                                                </div>




                                                <hr class="mb-4">
                                                <button class="btn btn-primary btn-lg btn-block" type="submit">Download</button>

                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>



{% endblock %}