{% extends 'student/student_base.html' %}

{% block content %}

              <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Download</a></li>


<li class="breadcrumb-item active" aria-current="page">Click to download</li>
                         </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->

                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                {% for message in messages %}
							{% if message.tags == "success" %}
						 		<center>
								<div class="alert alert-success" style="color:green;">
  									<strong>{{message}}</strong>
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "warning" %}
						     <center>
								<div class="alert alert-warning" style="color:red;">
  									<strong>Warning!</strong> {{message}}
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "error" %}
								<div class="alert alert-error">
  									<strong>Error!</strong>{{message}}
								</div>
							{% endif %}
						{% endfor %}
                            </div>
                        </div>
                    </div>
                                                {% if student.panel.admin_status == 'approved' %}
                                                <form method="post" action="{% url 'approved_copy' %}">{% csrf_token %}
                                               <center><button  class="btn btn-primary btn-lg " type="submit">Click here to download approved copy</button></center>
                                                <hr class="mb-4" >
                                                {% endif %}
                                                </form>

                                        {% if student.panel.admin_status == 'uploaded' or student.panel.admin_status == 'approved' %}

                                        <center>
                                            <a class="btn btn-primary btn-lg " href="{{ student.project.abstract.url }}" download="Main_project_abstract_MCA">Click here to download your abstract</a>
                                        </center>
                                        <hr class="mb-4" >
                                        {% endif %}
                                        {% if student.project.basepaper != '' %}

                                        <center>
                                            <a class="btn btn-primary btn-lg " href="{{ student.project.basepaper.url }}" download="Main_project_basepaper_MCA"> Click here to download basepaper </a>
                                        </center>
                                        <hr class="mb-4" >
                                        {% endif %}

                                        {% if student.project.report != '' %}
                                        <center>
                                            <a class="btn btn-primary btn-lg " href="{{ student.project.report.url }}" download="Main_project_report_MCA">Click here to download project report</a>
                                        </center>
                                        <hr class="mb-4" >
                                        {% endif %}

<script>




</script>





{% endblock %}