{% extends 'student/student_base.html' %}

{% block content %}


<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">My panel</a></li>

                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->

                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                {% for message in messages %}
							{% if message.tags == "success" %}
						 		<center>
								<div class="alert alert-success" style="color:green;">
  									<strong>{{message}}</strong>
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "warning" %}
						     <center>
								<div class="alert alert-warning" style="color:red;">
  									<strong>Warning!</strong> {{message}}
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "error" %}
								<div class="alert alert-error">
  									<strong>Error!</strong>{{message}}
								</div>
							{% endif %}
						{% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="card">
                                        <div class="card-header">
                                           <center> <h4 class="mb-0" style="color:white;">My Panel</h4></center>
                                        </div>
                                        <div class="card-body">
                                            <form class="needs-validation"  method="post" enctype="multipart/form-data">{% csrf_token %}





                                                <div class="mb-3" >
                                                        <label for="guide">Guide</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            <input type="text" class="form-control" id="guide"   value="{{ guide }}"  placeholder="" required="" readonly >
                                                            <div class="invalid-feedback" style="width: 100%;">
                                                                Please enter project topic.
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="mb-3" >
                                                        <label for="staff1">Staff 1</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            <input type="text" class="form-control" id="staff1" value="{{ panel1 }}"   placeholder="" required="" readonly>
                                                            <div class="invalid-feedback" style="width: 100%;">
                                                                Please enter project domain.
                                                            </div>
                                                        </div>
                                                    </div>

                                                   <div class="mb-3" >
                                                        <label for="staff2">Staff 2</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            <input type="text" class="form-control" id="staff2" value="{{ panel2 }}"   placeholder="" required="" readonly>
                                                            <div class="invalid-feedback" style="width: 100%;">
                                                                Please enter project domain.
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="mb-3" >
                                                        <label for="staff3">Staff 3</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            <input type="text" class="form-control" id="staff3" value="{{ panel3 }}"   placeholder="" required="" readonly>
                                                            <div class="invalid-feedback" style="width: 100%;">
                                                                Please enter project domain.
                                                            </div>
                                                        </div>
                                                    </div>








                                                <hr class="mb-4">


                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>


<script>

</script>

{% endblock %}