{% extends 'student/student_base.html' %}

{% block content %}

                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Complete Profile</a></li>
                                            <li class="breadcrumb-item active" aria-current="page"></li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->

                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                {% for message in messages %}
							{% if message.tags == "success" %}
						 		<center>
								<div class="alert alert-success" style="color:green;">
  									<strong>{{message}}</strong>
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "warning" %}
						     <center>
								<div class="alert alert-warning" style="color:red;">
  									<strong>Warning!</strong> {{message}}
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "error" %}
								<div class="alert alert-error">
  									<strong>Error!</strong>{{message}}
								</div>
							{% endif %}
						{% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="card">
                                        <div class="card-header">
                                           <center> <h4 class="mb-0" style="color:white;">Enter the Details</h4></center>
                                        </div>
                                        <div class="card-body">
                                            <form class="needs-validation"  method="post" action="">{% csrf_token %}


                                                    <div class="mb-3">
                                                        <label for="admissionno">Admission No.</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            <input type="text" class="form-control" id="admissionno" name="admissionno" placeholder="" required="">
                                                            <div class="invalid-feedback" style="width: 100%;">
                                                                Admission No. is required.
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="rollno">Roll No.</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            <input type="text" class="form-control" id="rollno" name="rollno" placeholder="eg:17MCA11019" required="">
                                                            <div class="invalid-feedback" style="width: 100%;">
                                                                Roll No. is required.
                                                            </div>
                                                        </div>
                                                    </div>

                                                <div class="mb-3">
                                                  <label for="batch">Batch</label>
                                                        <select class="custom-select d-block w-100" id="batch" name="batch" required="">
                                                            <option value="">Choose...</option>
                                                            <option value="2018">2018</option>
                                                            <option value="2019">2019</option>
                                                            <option value="2020">2020</option>
                                                            <option value="2021">2021</option>
                                                            <option value="2022">2022</option>
                                                            <option value="2023">2023</option>
                                                            <option value="2024">2024</option>
                                                            <option value="2025">2025</option>
                                                            <option value="2026">2026</option>
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Please select a batch.
                                                        </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col-md-4 mb-3">
                                                        <label for="countrycode">Country Code</label>
                                                        <select class="custom-select d-block w-100" name="countrycode"  id="countrycode" required="">
                                                            <option value="">Choose...</option>
                                                             <option value="+91">India   (+91)</option>
                                                            <option value="+971">UAE     (+971)</option>
                                                              <option value="+1">USA     (+1)</option>
                                                             <option value="+44">UK      (+44)</option>
                                                            <option value="+973">Bahrain (+973)</option>
                                                            <option value="+965">Kuwait  (+965)</option>
                                                            <option value="+968">Oman    (+968)</option>
                                                            <option value="+974">Qatar   (+974)</option>
                                                            <option value="+966">Saudi   (+966)</option>
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Please select a valid country.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 mb-3">
                                                        <label for="mobileno">Mobile No.</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            <input type="tel" class="form-control" id="mobileno" name="mobileno" placeholder="10 digits" required="" pattern="[0-9]{10}">
                                                            <div class="invalid-feedback" style="width: 100%;">
                                                                Mobile No. is required.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>









                                                <hr class="mb-4">
                                                <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>

{% endblock %}
