{% extends 'student/student_base.html' %}

{% block content %}

              <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Upload</a></li>
<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Abstract</a></li>

                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->

                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                {% for message in messages %}
							{% if message.tags == "success" %}
						 		<center>
								<div class="alert alert-success" style="color:green;">
  									<strong>{{message}}</strong>
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "warning" %}
						     <center>
								<div class="alert alert-warning" style="color:red;">
  									<strong>Warning!</strong> {{message}}
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "error" %}
								<div class="alert alert-error">
  									<strong>Error!</strong>{{message}}
								</div>
							{% endif %}
						{% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="card">
                                        <div class="card-header">
                                           <center> <h4 class="mb-0" style="color:white;">Upload Abstract</h4></center>
                                        </div>
                                        <div class="card-body">
                                            <form class="needs-validation"  method="post" enctype="multipart/form-data">{% csrf_token %}





                                                <div class="mb-3" >
                                                        <label for="topic">Topic</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            <input type="text" class="form-control" id="topic" name="topic"   placeholder="" required="" >
                                                            <div class="invalid-feedback" style="width: 100%;">
                                                                Please enter project topic.
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="mb-3" >
                                                        <label for="domain">Domain</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            <input type="text" class="form-control" id="domain" name="domain"   placeholder="" required="" >
                                                            <div class="invalid-feedback" style="width: 100%;">
                                                                Please enter project domain.
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="mb-3" >
                                                        <label for="abstract">Abstract</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            <input  onchange="abstract_check()" type="file" class="form-control" id="abstract" name='abstract' placeholder="PDF file" required="" accept="application/pdf">
                                                            <div class="invalid-feedback" style="width: 100%;">
                                                                Please upload abstract.
                                                            </div>
                                                        </div>
                                                    </div>



                                                <div class="mb-3" >
                                                        <label for="basepaper">Base paper</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            <input   onchange="basepaper_check()" type="file" class="form-control" id="basepaper" name="basepaper" placeholder="PDF file"  required="" accept="application/pdf">
                                                            <div class="invalid-feedback" style="width: 100%;">
                                                                Please upload basepaper.
                                                            </div>
                                                        </div>
                                                    </div>







                                                <hr class="mb-4">
                                                <button class="btn btn-primary btn-lg btn-block" type="submit">Upload</button>

                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>


<script>
function abstract_check()
{
    var upl = document.getElementById("abstract");
    var max = 50000
        if(upl.files[0].size > max)
            {
               alert("File too big!Please select a file size less than 50KB");
               upl.value = "";
            }

};
function basepaper_check()
{
    var upl = document.getElementById("basepaper");
    var max = 1048576
        if(upl.files[0].size > max)
            {
               alert("File too big!Please select a file size less than 1MB");
               upl.value = "";
            }

};
</script>

{% endblock %}