{% extends 'submit_base.html' %}

{% block content %}
<style>
    a:hover
    {
        color: #52A494;
    }
    a
    {
        color: #090e0d;
    }
    label
    {
    color:black;
    font-size:20px;

    }
    span
    {
    color:grey;
    font-size:10px;
    }
    ul.errorlist
    {
    color:red;
    }
</style>

    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title"><u>Reset password</u></h2>
                </div>
                {% if validlink %}
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div>
                            <button class="btn btn--radius-2 btn--red" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
                {% else %}
    <center><p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p></center>
                <center><p><a href="{% url 'login_view' %}" > Click here to goto Forgot Password </a></p></center><br>
                            <center><p><a href="{% url 'signup' %}"> Click here to goto Registration</a></p></center>
                {% endif %}
            </div>
        </div>
    </div>

<script>
    document.getElementById('id_new_password1').classList.add("input--style-5");
    document.getElementById('id_new_password2').classList.add("input--style-5");
</script>


{% endblock %}