{% extends 'staff/staff_base.html' %}

{% block content %}

 <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Requests</a></li>
{% if page == 'under_guidance' %}
<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Under guidance</a></li>
{% elif page == 'under_panel' %}
<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Under Panel</a></li>
{% endif %}
<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">{{ batch }}</a></li>

                                        <li class="breadcrumb-item active" aria-current="page">{{ student }}</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
                <div class="dashboard-short-list">

                    <!-- ============================================================== -->
                    <!-- end shortable list  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- nestable list  -->
                    <!-- ============================================================== -->


                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                {% for message in messages %}
							{% if message.tags == "success" %}
						 		<center>
								<div class="alert alert-success" style="color:green;">
  									<strong>{{message}}</strong>
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "warning" %}
						     <center>
								<div class="alert alert-warning" style="color:red;">
  									<strong>Warning!</strong> {{message}}
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "error" %}
								<div class="alert alert-error">
  									<strong>Error!</strong>{{message}}
								</div>
							{% endif %}
						{% endfor %}
                            </div>
                        </div>
                    </div>
                    <h1 style="padding-left:230px">{{ student }}</h1>


                         <br>
                                               <div class="row">
                                                    <div class="col-md-8 mb-3">
                                                        <label for="name">Name</label>
                                                        <input type="text" class="form-control" id="name" name="name" value="{{ student.first_name }} {{ student.last_name }}" readonly>

                                                        <div class="invalid-feedback">
                                                            Valid last name is required.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-8 mb-3">
                                                        <label for="rollno">Roll No</label>
                                                        <input type="text" class="form-control" id="rollno" name="rollno" value="{{ student.student.roll_no }}" readonly>

                                                        <div class="invalid-feedback">
                                                            Valid last name is required.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-8 mb-3">
                                                        <label for="topic">Topic</label>
                                                        <input type="text" class="form-control" id="topic" name="topic" value="{{ student.project.topic }}" readonly>

                                                        <div class="invalid-feedback">
                                                            Valid last name is required.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-8 mb-3">
                                                        <label for="domain">Domain</label>
                                                        <input type="text" class="form-control" id="domain" name="domain" value="{{ student.project.domain }}" readonly>

                                                        <div class="invalid-feedback">
                                                            Valid last name is required.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3 mb-3">
                                                        <label for="abstract">Abstract (<a href="{{ student.project.abstract.url }}" download="{{ student }}_abstract">click here to download</a>)</label>
                                                            <embed src="{{ student.project.abstract.url }}#toolbar=0&navpanes=0&scrollbar=0" id="abstract" type="application/pdf" width="800" height="600" />
                                                        <div class="invalid-feedback">
                                                            Valid last name is required.
                                                        </div>
                                                    </div>
                                                </div>
                                                {% if student.project.basepaper %}
                                                    <div class="row">
                                                    <div class="col-md-3 mb-3">
                                                        <label for="basepaper">Base paper (<a href="{{ student.project.basepaper.url }}" download="{{ student }}_basepaper">click here to download</a>)</label>
                                                            <embed src="{{ student.project.basepaper.url }}#toolbar=0&navpanes=0&scrollbar=0" id="basepaper" type="application/pdf" width="800" height="600" />
                                                        <div class="invalid-feedback">
                                                            Valid last name is required.
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                    <form method="post" action="{{ action }}" >
                                                <div class="row">
                                                    <div class="col-md-8 mb-3">
                                                        <label for="abstract">Notes/Reason</label>
                                                            <textarea class="form-control" id="motivation" name="notes" rows="6" cols="50" placeholder=""  required=""></textarea>
                                                        <div class="invalid-feedback">
                                                            Valid last name is required.
                                                        </div>
                                                    </div>
                                                </div>
                         <hr class="mb-4" >

                         <div class="row">
                                               <center>

                                                   <button  class="btn btn-primary btn-lg " type="submit" name="reject" style="background-color:red;">Reject</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                                                   <button  class="btn btn-primary btn-lg " name="approve" type="submit" style="background-color:green;">Approve</button>

                                               </center>

                         </div>







                                                </form>



{% endblock %}