{% extends 'submit_base.html' %}

{% block content %}
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title"><u>Registration</u></h2>
                </div>
                <div class="card-body">
                   <center><p>Activation link is send to your Mail.Please confirm your email address to complete the registration. </p></center>
                </div>
            </div>
        </div>
    </div>

{% endblock %}





