{% extends 'administrator/admin_base.html' %}

{% block content %}

              <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">User</a></li>

<li class="breadcrumb-item active" aria-current="page">{{ subject }}</li>

                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->

                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                {% for message in messages %}
							{% if message.tags == "success" %}
						 		<center>
								<div class="alert alert-success" style="color:green;">
  									<strong>{{message}}</strong>
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "warning" %}
						     <center>
								<div class="alert alert-warning" style="color:red;">
  									<strong>Warning!</strong> {{message}}
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "error" %}
								<div class="alert alert-error">
  									<strong>Error!</strong>{{message}}
								</div>
							{% endif %}
						{% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="card">
                                        <div class="card-header">
                                           <center> <h4 class="mb-0" style="color:white;">{{ subject }} User</h4></center>
                                        </div>
                                        <div class="card-body">
                                            <form class="needs-validation"  method="post" >{% csrf_token %}




                                                    <div class="mb-3" >
                                                        <label for="registerno">Register No/College ID</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            <input type="text" class="form-control" id="registerno" name="registerno"   placeholder="" required="" >
                                                            <div class="invalid-feedback" style="width: 100%;">
                                                                Please enter student's register no.
                                                            </div>
                                                        </div>
                                                </div>















                                                <hr class="mb-4">
                                                {% if subject == 'Activate' %}
                                                <button class="btn btn-primary btn-lg btn-block" type="submit" name="activate">Activate</button>
                                                {% else %}
                                                <button class="btn btn-primary btn-lg btn-block" type="submit" name="deactivate">Deactivate</button>
                                                {% endif %}
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <br><br><br><br><br><br><br><br><br>
<script>
function upload_check()
{
    var upl = document.getElementById("report");
    var max = 2097152
        if(upl.files[0].size > max)
            {
               alert("File too big!Please select a file size less than 2MB");
               upl.value = "";
            }

};
</script>

{% endblock %}