{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'assets/vendor/fonts/circular-std/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/charts/chartist-bundle/chartist.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/charts/morris-bundle/morris.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/charts/c3charts/c3.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/flag-icon-css/flag-icon.min.css' %}">
    <title>Project Approbation System | MCA</title>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="#">Project Approbation System</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <input class="form-control" type="text" placeholder="Search..">
                            </div>
                        </li>
                        {% if  name %}

                        {% if name == '' %}

                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>

                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title"> Notification</div>

                                    <div class="notification-list">

                                        <div class="list-group">
                                            <a href="{% url 'admin_profile_edit' %}" class="list-group-item list-group-item-action active">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="{% static 'assets/images/avatar-2.jpg' %}" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Complete Profile,</span>  please complete your profile
                                                        <div class="notification-date">0 min ago</div>
                                                    </div>
                                                </div>
                                            </a>



                                        </div>

                                    </div>

                                </li>
                                <li>
                                    <div class="list-footer"> <a href="#">View all notifications</a></div>
                                </li>
                            </ul>

                        </li>


                        {% else %}
                         <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> </a>

                        </li>

                           {% endif %}
                        {% endif %}
                        <li class="nav-item dropdown connection">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                <li class="connection-list">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="https://www.mesce.ac.in/" class="connection-item"><img src="{% static 'assets/images/mes.png' %}" alt="" > <span>MESCE</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="https://mes.linways.com/" class="connection-item"><img src="{% static 'assets/images/meslinways.png' %}" alt="" > <span>Linways</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="https://alumni.mescasa.info/" class="connection-item"><img src="{% static 'assets/images/alumini.png' %}" alt="" > <span>Alumini</span></a>
                                        </div>
                                    </div>

                                </li>
                                <li>
                                    <div class="conntection-footer"><a href="#">More</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-user"></i></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">{{ request.session.username }} </h5>
                                    <span class="status"></span><span class="ml-2">Available</span>
                                </div>
                                <a class="dropdown-item" href="{% url 'admin_profile_edit' %}"><i class="fas fa-user mr-2"></i>Edit Profile</a>
                                <a class="dropdown-item" href="{% url 'admin_change_password' %}"><i class="fas fa-cog mr-2"></i>Change Password</a>
                                <a class="dropdown-item" href="{% url 'logout_view' %}"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
                    <!-- ============================================================== -->





   <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <!-- Home -->

                            <li class="nav-item ">
                                <a class="nav-link " href="{% url 'admin' %}" ><i class="fa fa-fw fa-home"></i>Home </a>
                            </li>

                            <li class="nav-item ">
                                <a class="nav-link " href="{% url 'approve_select_batch' %}" ><i class="fa fa-fw fa-check"></i>Approve/Reject </a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#smenu-2" aria-controls="submenu-2"><i class="fa fa-download"></i>Download</a>
                                <div id="smenu-2" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <!--
                                        <li class="nav-item">
                                            <a class="nav-link" href="">Panel info<span class="badge badge-secondary">New</span></a>
                                        </li>
                                        -->
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'student_list_admin' %}">Student list</a>
                                        </li>
                                         <!--
                                        <li class="nav-item">
                                            <a class="nav-link" href="">Approved list</a>
                                        </li>
                                        -->

                                    </ul>
                                </div>
                            </li>



                            <li class="nav-divider">
                                User Settings
                            </li>

                            <!-- Admin -->
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#subme-3" aria-controls="subme-3"><i class="fa fa-lock"></i>Admin</a>
                                <div id="subme-3" class="collapse submenu" style="">
                                    <ul class="nav flex-column">

                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'change_admin' %}"><i class="fa fa-wrench" aria-hidden="true"></i>Change</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>


                            <!-- Staff -->
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submen-3" aria-controls="submen-3"><i class="fa fa-briefcase"></i>Staff</a>
                                <div id="submen-3" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'add_staff' %}"><i class="fa fa-plus" aria-hidden="true"></i>Add</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'edit_staff' %}"><i class="fa fa-wrench" aria-hidden="true"></i>Edit</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><i class="fa fa-key" aria-hidden="true"></i>Activate</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><i class="fa fa-window-close" aria-hidden="true"></i>Deactivate</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>


                            <!-- Student -->
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fa fa-graduation-cap"></i>Student</a>
                                <div id="submenu-3" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'admin_student' %}"><i class="fa fa-plus" aria-hidden="true"></i>Add</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'edit_student' %}"><i class="fa fa-wrench" aria-hidden="true"></i>Edit/Delete</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'admin_abstract' %}"><i class="fa fa-upload" aria-hidden="true"></i>Abstract</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'admin_report' %}"><i class="fa fa-upload" aria-hidden="true"></i>Report</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'student_activate' %}"><i class="fa fa-key" aria-hidden="true"></i>Activate</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'student_deactivate' %}"><i class="fa fa-window-close" aria-hidden="true"></i>Deactivate</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <!--Email not configured users  -->


                            <li class="nav-item ">
                                <a class="nav-link " href="{% url 'signup_confirm' %}" ><i class="fa fa-envelope"></i>Email config </a>
                            </li>





                            <li class="nav-divider">
                                 PROJECT Settings
                            </li>

                            <!--    panel   -->
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fa fa-fw fa-users"></i>Panel</a>
                                <div id="submenu-2" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'create_panel' %}">Create Panel<span class="badge badge-secondary">New</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'edit_panel' %}">Edit Panel</a>
                                        </li>

                                    </ul>
                                </div>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#sumenu-2" aria-controls="submenu-2"><i class="fa fa-clock"></i>Dates</a>
                                <div id="sumenu-2" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'abstract_date' %}">Abstract<span class="badge badge-secondary">New</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'report_date' %}">Report</a>
                                        </li>

                                    </ul>
                                </div>
                            </li>



                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#menu-2" aria-controls="submenu-2"><i class="fa fa-upload"></i>Upload</a>
                                <div id="menu-2" class="collapse submenu" style="">
                                    <ul class="nav flex-column">

                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'sample_abstract' %}">Abstract Format</a>
                                        </li>

                                    </ul>
                                </div>
                            </li>













                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">PAS Admin </h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            {% block content %}



                                            {% endblock %}






                    </div>
                </div>
            </div>



            <!-- ============================================================== -->










            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" style="text-align:right;">
                             Copyright © 2020 Department of Computer Applications <a href="https://www.mesce.ac.in/">MESCE</a>.
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <!-- bootstap bundle js -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <!-- slimscroll js -->
    <script src="{% static 'assets/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
    <!-- main js -->
    <script src="{% static 'assets/libs/js/main-js.js' %}"></script>
    <!-- chart chartist js -->
    <script src="{% static 'assets/vendor/charts/chartist-bundle/chartist.min.js' %}"></script>
    <!-- sparkline js -->
    <script src="{% static 'assets/vendor/charts/sparkline/jquery.sparkline.js' %}"></script>
    <!-- morris js -->
    <script src="{% static 'assets/vendor/charts/morris-bundle/raphael.min.js' %}"></script>
    <script src="{% static 'assets/vendor/charts/morris-bundle/morris.js' %}"></script>
    <!-- chart c3 js -->
    <script src="{% static 'assets/vendor/charts/c3charts/c3.min.js' %}"></script>
    <script src="{% static 'assets/vendor/charts/c3charts/d3-5.4.0.min.js' %}"></script>
    <script src="{% static 'assets/vendor/charts/c3charts/C3chartjs.js' %}"></script>
    <script src="{% static 'assets/libs/js/dashboard-ecommerce.js' %}"></script>
</body>

</html>