{% extends 'administrator/admin_base.html' %}

{% block content %}

   <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Admin</a></li>


                                        <li class="breadcrumb-item active" aria-current="page">Change admin</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->

                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                {% for message in messages %}
							{% if message.tags == "success" %}
						 		<center>
								<div class="alert alert-success" style="color:green;">
  									<strong>{{message}}</strong>
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "warning" %}
						     <center>
								<div class="alert alert-warning" style="color:red;">
  									<strong>Warning!</strong> {{message}}
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "error" %}
								<div class="alert alert-error">
  									<strong>Error!</strong>{{message}}
								</div>
							{% endif %}
						{% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="card">
                                        <div class="card-header">
                                           <center> <h4 class="mb-0" style="color:white;">Change Admin</h4></center>
                                        </div>
                                        <div class="card-body">
                                            <form class="needs-validation"  method="post" action="">{% csrf_token %}


                                                <!-- this is the real inputs-->



                                                <div class="mb-3" >

                                                        <label for="admin">Select one staff</label>
                                                        <select class="form-control" id="admin" name="admin" required="">
                                                        <option value="">Choose admin...</option>
                                                            {% for i in staffs %}
                                                            <option value="{{i.id}}">{{ i.first_name }} {{ i.last_name }}</option>

                                                            {% endfor %}
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Valid first name is required.
                                                        </div>
                                                    </div>

                                                <p>If you change the admin you can't access this page.You will converted into staff</p>
                                                <input type="checkbox" id='agree' name="checkbox" value="check"  required="" /> I agree

















                                                <hr class="mb-4">
                                                <button class="btn btn-primary btn-lg btn-block" type="submit">Change</button>

                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>

<script>
  if(!this.form.checkbox.checked)
{
    alert('You must agree to the terms first.');
    return false;
}


</script>



{% endblock %}