{% extends 'administrator/admin_base.html' %}

{% block content %}
<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dates</a></li>
{% if page == 'abstract_date' %}
<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Abstract date</a></li>
{% else %}
<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Report date</a></li>
{% endif %}
<li class="breadcrumb-item active" aria-current="page">{{ batch }}</li>

                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->

                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                {% for message in messages %}
							{% if message.tags == "success" %}
						 		<center>
								<div class="alert alert-success" style="color:green;">
  									<strong>{{message}}</strong>
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "warning" %}
						     <center>
								<div class="alert alert-warning" style="color:red;">
  									<strong>Warning!</strong> {{message}}
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "error" %}
								<div class="alert alert-error">
  									<strong>Error!</strong>{{message}}
								</div>
							{% endif %}
						{% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="card">
                                        <div class="card-header">
                                           <center> <h4 class="mb-0" style="color:white;">{{ batch }} Batch</h4></center>
                                        </div>
                                        <div class="card-body">
                                            <form class="needs-validation"  method="post" >{% csrf_token %}



                                                {% if page == 'abstract_date' %}
                                                    <div class="mb-3" id="a1" style="display:none;">
                                                        <label for="abstract_date">Abstract Date and Time</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            <input type="datetime-local" class="form-control" id="abstract_date" name="abstract_date"   placeholder="" required="" >
                                                            <div class="invalid-feedback" style="width: 100%;">
                                                                Please select date
                                                            </div>
                                                        </div>
                                                </div>

                                                <div class="mb-3" id="a2">
                                                        <label for="abstract_dat">Abstract Date and Time</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            <input type="text" class="form-control" id="abstract_dat" name="abstract_dat" value="{{ date }}"   placeholder="" readonly >
                                                            <div class="invalid-feedback" style="width: 100%;">
                                                                Please select date
                                                            </div>
                                                        </div>
                                                </div>
                                                <hr class="mb-4">
                                                <button class="btn btn-primary btn-lg btn-block" id="abstract_edit" onclick="myFunction()">Edit/Set</button>

                                                {% else %}

                                                <div class="mb-3" id="b1" style="display:none">
                                                        <label for="report_date">Report Date and Time</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            <input type="datetime-local" class="form-control" id="report_date" name="report_date"   placeholder="" required="" >
                                                            <div class="invalid-feedback" style="width: 100%;">
                                                                Please select date
                                                            </div>
                                                        </div>
                                                </div>

                                                <div class="mb-3" id="b2">
                                                        <label for="abstract_dat">Report Date and Time</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            <input type="text" class="form-control" id="report_dat" value="{{ date }}" name="report_dat"   placeholder="" >
                                                            <div class="invalid-feedback" style="width: 100%;">
                                                                Please select date
                                                            </div>
                                                        </div>
                                                </div>
                                                <hr class="mb-4">
                                                <button class="btn btn-primary btn-lg btn-block" id="report_edit" onclick="myFunction2()">Edit this</button>


                                                {% endif %}


                                                <button class="btn btn-primary btn-lg btn-block" id='update' type="submit" style="display:none;">Update</button>




                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <br><br><br><br><br><br><br><br><br>
<script>
    function myFunction() {
    document.getElementById('a2').style.display = 'none';
    document.getElementById('a1').style.display = 'block';
    document.getElementById('abstract_edit').style.display = 'none';
    document.getElementById('update').style.display = 'block';
    }

    function myFunction2() {
    document.getElementById('b2').style.display = 'none';
    document.getElementById('b1').style.display = 'block';
    document.getElementById('report_edit').style.display = 'none';
    document.getElementById('update').style.display = 'block';
    }

</script>


{% endblock %}