{% extends 'administrator/admin_base.html' %}

{% block content %}
<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Download</a></li>
{% if page == 'student_list' %}
<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Student_list</a></li>
{% elif page == 'pproved_list' %}

<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Approved_list</a></li>
{% else %}
<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Panel_info</a></li>
{% endif %}
<li class="breadcrumb-item active" aria-current="page">Select batch</li>
                         </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->

                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                {% for message in messages %}
							{% if message.tags == "success" %}
						 		<center>
								<div class="alert alert-success" style="color:green;">
  									<strong>{{message}}</strong>
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "warning" %}
						     <center>
								<div class="alert alert-warning" style="color:red;">
  									<strong>Warning!</strong> {{message}}
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "error" %}
								<div class="alert alert-error">
  									<strong>Error!</strong>{{message}}
								</div>
							{% endif %}
						{% endfor %}
                            </div>
                        </div>
                    </div>
                                            <form method="post" action="">
                                                <div class="input-group">
                                                    <select class="form-control" id="batch" name="batch" required="">
                                                        <option value="">Choose a batch...</option>
                                                            <option value="2018">2018</option>
                                                            <option value="2019">2019</option>
                                                            <option value="2020">2020</option>
                                                            <option value="2021">2021</option>
                                                            <option value="2022">2022</option>
                                                            <option value="2023">2023</option>
                                                            <option value="2024">2024</option>
                                                            <option value="2025">2025</option>
                                                            <option value="2026">2026</option>
                                                        </select>
                                                    <div class="input-group-append">
                                                        <button type="submit" class="btn btn-secondary">Continue</button>
                                                    </div>
                                                </div>
                                            </form>





{% endblock %}