{% extends 'administrator/admin_base.html' %}

{% block content %}

   <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Panel</a></li>
<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Edit/Delete</a></li>
<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">{{ batch }}</a></li>

                                        <li class="breadcrumb-item active" aria-current="page">{{ username }}</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->

                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                {% for message in messages %}
							{% if message.tags == "success" %}
						 		<center>
								<div class="alert alert-success" style="color:green;">
  									<strong>{{message}}</strong>
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "warning" %}
						     <center>
								<div class="alert alert-warning" style="color:red;">
  									<strong>Warning!</strong> {{message}}
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "error" %}
								<div class="alert alert-error">
  									<strong>Error!</strong>{{message}}
								</div>
							{% endif %}
						{% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="card">
                                        <div class="card-header">
                                           <center> <h4 class="mb-0" style="color:white;">{{ username }}</h4></center>
                                        </div>
                                        <div class="card-body">
                                            <form class="needs-validation"  method="post" action="{{ username }}/confirm">{% csrf_token %}




                                                    <div class="mb-3" id="guide_edit">
                                                        <label for="guide_show">Guide</label>
                                                        <input type="text" class="form-control" id="guide_show" name='guide_show' placeholder="" value="{{ guide.first_name }} {{ guide.last_name }}"  readonly="readonly">
                                                        <div class="invalid-feedback">
                                                            Valid guide name is required.
                                                        </div>
                                                    </div>
                                                    <div class="mb-3" id="panel1_edit">
                                                        <label for="panel1_show">Staff 1</label>
                                                        <input type="text" class="form-control" id="panel1_show" name="panel1_show" placeholder="" value="{{ panel1.first_name }} {{ panel1.last_name }}"  readonly>
                                                        <div class="invalid-feedback">
                                                            Valid Staff 1 name is required.
                                                        </div>
                                                    </div>


                                                <div class="mb-3" id="panel2_edit" >
                                                    <label for="panel2_show">Staff 2<span class="text-muted"></span></label>
                                                    <input type="text" class="form-control" id="panel2_show" name="panel2_show" placeholder="" value="{{ panel1.first_name }} {{ panel1.last_name }}" readonly >
                                                    <div class="invalid-feedback">
                                                        Valid Staff 2 name is required.
                                                    </div>
                                                </div>

                                                <div class="mb-3" id="panel3_edit" >
                                                    <label for="panel3_show">Staff 2<span class="text-muted"></span></label>
                                                    <input type="text" class="form-control" id="panel3_show" name="panel3_show" placeholder="" value="{{ panel3.first_name }} {{ panel3.last_name }}" readonly >
                                                    <div class="invalid-feedback">
                                                        Valid Staff 2 name is required.
                                                    </div>
                                                </div>


                                                <!-- this is the real inputs-->



                                                <div class="mb-3" id="guide_input" style="display:none;">

                                                        <label for="guide">Guide</label>
                                                        <select class="form-control" id="guide" name="guide" required="">
                                                        <option value="">Choose guide...</option>
                                                            {% for i in staffs %}
                                                            <option value="{{i.id}}">{{ i.first_name }} {{ i.last_name }}</option>

                                                            {% endfor %}
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Valid first name is required.
                                                        </div>
                                                    </div>

                                                <div class="mb-3" id="panel1_input" style="display:none;">
                                                        <label for="staff1">Staff 1</label>
                                                        <select class="form-control" id="staff1" name="staff1" required="">
                                                        <option value="">Choose staff...</option>
                                                            {% for i in staffs %}
                                                            <option value="{{i.id}}">{{ i.first_name }} {{ i.last_name }}</option>

                                                            {% endfor %}
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Valid last name is required.
                                                        </div>
                                                    </div>


                                                    <div class="mb-3" id="panel2_input" style="display:none;">
                                                        <label for="staff2">Staff 2</label>
                                                        <select class="form-control" id="staff2" name="staff2" required="">
                                                        <option value="">Choose staff...</option>
                                                            {% for i in staffs %}
                                                            <option value="{{i.id}}">{{ i.first_name }} {{ i.last_name }}</option>

                                                            {% endfor %}
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Valid last name is required.
                                                        </div>
                                                    </div>


                                                    <div class="mb-3" id="panel3_input" style="display:none;">
                                                        <label for="staff3">Staff 3</label>
                                                        <select class="form-control" id="staff3" name="staff3" required="">
                                                        <option value="">Choose staff...</option>
                                                            {% for i in staffs %}
                                                            <option value="{{i.id}}">{{ i.first_name }} {{ i.last_name }}</option>

                                                            {% endfor %}
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Valid last name is required.
                                                        </div>
                                                    </div>








                                                <div style="display:none" id="update_button">
                                                <hr class="mb-4">
                                                <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
                                                </div>
                                                <div>
                                                <hr class="mb-4" >
                                                <button id="edit_button" class="btn btn-primary btn-lg btn-block" >Edit This</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>

<script>
document.getElementById('edit_button').onclick = function() {
document.getElementById('edit_button').style.display = 'none';
document.getElementById('guide_edit').style.display = 'none';
document.getElementById('panel1_edit').style.display = 'none';
document.getElementById('panel2_edit').style.display = 'none';
document.getElementById('panel3_edit').style.display = 'none';
document.getElementById('guide_input').style.display = 'block';
document.getElementById('panel1_input').style.display = 'block';
document.getElementById('panel2_input').style.display = 'block';
document.getElementById('panel3_input').style.display = 'block';

    document.getElementById('update_button').style.display = 'block';



};
</script>



{% endblock %}