{% extends 'administrator/admin_base.html' %}

{% block content %}

 <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Student</a></li>

                                        <li class="breadcrumb-item active" aria-current="page">Edit/Delete</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
                <div class="dashboard-short-list">

                    <!-- ============================================================== -->
                    <!-- end shortable list  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- nestable list  -->
                    <!-- ============================================================== -->


                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                {% for message in messages %}
							{% if message.tags == "success" %}
						 		<center>
								<div class="alert alert-success" style="color:green;">
  									<strong>{{message}}</strong>
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "warning" %}
						     <center>
								<div class="alert alert-warning" style="color:red;">
  									<strong>Warning!</strong> {{message}}
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "error" %}
								<div class="alert alert-error">
  									<strong>Error!</strong>{{message}}
								</div>
							{% endif %}
						{% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 co-12">
                                <section class="card card-fluid">
                                <h5 class="card-header drag-handle" style="color:white;"> <center>Student List</center></h5>
                                <ul class="sortable-lists list-group list-group-flush list-group-bordered" id="items">
                                    {% if students %}
                                    {% for i in students %}

                                    <li class="list-group-item align-items-center drag-handle">
                                        <span class="drag-indicator"></span>

                                        <div style="color:black;"> {{ i.username }} </div><div >-  {{ i.first_name }} {{ i.last_name }}</div>
                                        <div class="btn-group ml-auto">
                                            <form method="post" action="/admin/student/edit/{{ i.username }}">
                                                {% csrf_token %}
                                            <button class="btn btn-sm btn-outline-light" type="submit" name="edit" style="color:blue;">Edit</button>
                                            <button class="btn btn-sm btn-outline-light" type="submit" name="delete" style="color:red;" onclick="return confirm('Are you sure you want to delete ? it will delete all the information');">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                            </form>
                                        </div>
                                    </li>

                                    {% endfor %}
                                    {% else %}
                                     <p>There is no students</p>
                                    {% endif %}
                                </ul>
                            </section>
                        </div>



{% endblock %}