{% extends 'administrator/admin_base.html' %}

{% block content %}

              <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Upload</a></li>

<li class="breadcrumb-item active" aria-current="page">Abstract Format</li>

                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->

                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                {% for message in messages %}
							{% if message.tags == "success" %}
						 		<center>
								<div class="alert alert-success" style="color:green;">
  									<strong>{{message}}</strong>
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "warning" %}
						     <center>
								<div class="alert alert-warning" style="color:red;">
  									<strong>Warning!</strong> {{message}}
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "error" %}
								<div class="alert alert-error">
  									<strong>Error!</strong>{{message}}
								</div>
							{% endif %}
						{% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="card">
                                        <div class="card-header">
                                           <center> <h4 class="mb-0" style="color:white;">Abstract Format</h4></center>
                                        </div>
                                        <div class="card-body">
                                            <form class="needs-validation"  method="post" enctype="multipart/form-data">{% csrf_token %}



                                            {% if abstract %}
                                                <div class="mb-3" >
                                                      <center>  <label ><a href="{{ abstract.url }}" class="breadcrumb-link"  download="abstract_sample">click here to download previously uploaded </a></label></center>

                                                </div>
                                                {% endif %}





                                                    <div class="mb-3"  id="abstract_upload" style="display:none;">
                                                        <label for="abstract">Upload/Replace New Abstract</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            <input  type="file" class="form-control" id="abstract" name="abstract" placeholder="PDF file" required="" accept="application/pdf">
                                                            <div class="invalid-feedback" style="width: 100%;">
                                                                Please upload report.
                                                            </div>
                                                        </div>
                                                    </div>









                                                <hr class="mb-4">
                                                <button class="btn btn-primary btn-lg btn-block"  id="second" onclick="function1()" >I want to Upload / Replace</button>
                                                <button class="btn btn-primary btn-lg btn-block" type="submit" id="original" style="display:none">Add/Update</button>

                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <br><br><br><br><br><br><br><br><br>
<script>
function function1() {
    document.getElementById('second').style.display = 'none';
    document.getElementById('original').style.display = 'block';
    document.getElementById('abstract_upload').style.display = 'block';
    }
</script>

{% endblock %}