{% extends 'administrator/admin_base.html' %}

{% block content %}

                                            <li class="breadcrumb-item"><a href="#" >Signup Confirmation</a></li>
                                            <li class="breadcrumb-item active" aria-current="page"></li>

                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
 <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                {% for message in messages %}
							{% if message.tags == "success" %}
						 		<center>
								<div class="alert alert-success" style="color:green;">
  									<strong>{{message}}</strong>
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "warning" %}
						     <center>
								<div class="alert alert-warning" style="color:red;">
  									<strong>Warning!</strong> {{message}}
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "error" %}
								<div class="alert alert-error">
  									<strong>Error!</strong>{{message}}
								</div>
							{% endif %}
						{% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="ecommerce-widget">


                        <div class="row">
                            <!-- ============================================================== -->

                            <!-- ============================================================== -->

                                          <!-- recent orders  -->
                            <!-- ============================================================== -->

                            <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12" id="student" >

                                <div class="card">
                                    <h5 class="card-header" style="text-align:center;color:white">Signup Requests</h5>

                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table">
                                                {% if signup_approval %}
                                                <thead class="bg-light">
                                                    <tr class="border-0">

                                                        <th class="border-0" >Name</th>
                                                        <th class="border-0">Roll No/Id</th>
                                                        <th class="border-0">Email</th>
                                                        <th class="border-0">Type of Account</th>
                                                        <th class="border-0">      </th>
                                                        <th class="border-0">      </th>

                                                    </tr>
                                                </thead>

                                                <tbody>
                                                {% for i in signup_approval %}
                                                    <tr>
                                                        <form  method="post" action="signup_approve/{{ i.username }}">
                                                            {% csrf_token %}
                                                        <td>{{ i.first_name }} {{ i.last_name }}</td>
                                                        <td>{{ i.username }}</td>
                                                        <td>{{ i.email }}</td>
                                                         {% if i.is_staff %}
                                                            <td>Staff </td>
                                                        {% else %}
                                                            <td>Student</td>
                                                        {% endif %}
                                                        <td><button class="btn" type="submit" name="reject" style="background-color:red;color:black">Reject</button></td>
                                                        <td><button class="btn" type="submit" name="approve" style="background-color:green;color:black">Approve</button></td>
                                                        </form>
                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                                {% else %}
                                                <br><br><br><br><br><br>
                                                <center><p>There is no signup requests</p></center><br><br><br><br><br><br><br><br><br><br><br>
                                                {% endif %}
                                            </table>
                                        </div>

                                    </div>
                                </div>

                            </div>


                            <!-- ============================================================== -->
                            <!-- end recent orders  -->


                            <!-- ============================================================== -->
                            <!-- ============================================================== -->
                            <!-- customer acquistion  -->
                            <!-- ============================================================== -->

                            <!-- ============================================================== -->
                            <!-- end customer acquistion  -->
                            <!-- ============================================================== -->
                        </div>








            <!-- ============================================================== -->









{% endblock %}
