{% extends 'administrator/admin_base.html' %}

{% block content %}

                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Student</a></li>
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Add</a></li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->

                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                {% for message in messages %}
							{% if message.tags == "success" %}
						 		<center>
								<div class="alert alert-success" style="color:green;">
  									<strong>{{message}}</strong>
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "warning" %}
						     <center>
								<div class="alert alert-warning" style="color:red;">
  									<strong>Warning!</strong> {{message}}
								</div>
								 </center>
							{% endif %}
							{% if message.tags == "error" %}
								<div class="alert alert-error">
  									<strong>Error!</strong>{{message}}
								</div>
							{% endif %}
						{% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="card">
                                        <div class="card-header">
                                           <center> <h4 class="mb-0" style="color:white;">Enter the Details</h4></center>
                                        </div>
                                        <div class="card-body">
                                            <form class="needs-validation"  method="post" action="">{% csrf_token %}
                                                <div class="row">
                                                    <div class="col-md-6 mb-3">
                                                        <label for="firstName">First name</label>
                                                        <input type="text" class="form-control" id="firstName" name='firstName' placeholder="" value="" required>
                                                        <div class="invalid-feedback">
                                                            Valid first name is required.
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label for="lastName">Last name</label>
                                                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="" value="" required>
                                                        <div class="invalid-feedback">
                                                            Valid last name is required.
                                                        </div>
                                                    </div>
                                                </div>

                                                    <div class="mb-3">
                                                        <label for="registerno">Register No.</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"></span>
                                                            </div>
                                                            <input type="text" class="form-control" id="registerno" name="registerno" placeholder="MES17MCA019" required>
                                                            <div class="invalid-feedback" style="width: 100%;">
                                                                Register no. is required.
                                                            </div>
                                                        </div>
                                                    </div>







                                                <div class="mb-3">
                                                    <label for="email">Email <span class="text-muted"></span></label>
                                                    <input type="email" class="form-control" id="email" name="email" placeholder="student@example.com" required>
                                                    <div class="invalid-feedback">
                                                        Please enter a valid email address for getting info.
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="password">Password</label>
                                                    <input type="password" class="form-control" id="password"  name="password" placeholder="" required>
                                                    <div class="invalid-feedback">
                                                        Please enter  password.
                                                    </div>
                                                </div>
                                                <hr class="mb-4">
                                                <button class="btn btn-primary btn-lg btn-block" type="submit">Add</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>

{% endblock %}
